@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Azeret+Mono:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url('../images/galaxy2.jpg');
    background-size: 68%;
    font-family: 'Amiko', sans-serif;
    box-sizing: border-box;
}

.start_btn,
.info,
.quiz,
.results{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn.unactive{
    opacity: 0;
}

.info.activeInfo,
.quiz.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 2.4rem;
    width: 15rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, rgb(147, 73, 232) 0%, rgb(166, 85, 227) 100%);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.start_btn button:hover{
    box-shadow: 0 0.6rem 1.8rem 0 rgb(166, 85, 227);
}


/*Information box styling*/

.info{
    opacity: 0;
    background: #fff;
    border: 1px solid rgb(166, 85, 227);
    width: 450px;
    transform: translate(-50%, -50%) scale(0.9);
    pointer-events: none;
}

.info .rules{
    height: 3.2rem;
    border-bottom: 1px solid rgb(166, 85, 227);
    font-size: 2rem;
    align-items: center;
    display: flex;
    padding-left: 1.5rem;
}

.info .rules_list{
    padding: 1.1rem 2rem;
}

.info .rules_list .info_rules{
    margin: 0.9rem 0.5rem;
    font-size: 1.5rem;
}

.info .buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid rgb(166, 85, 227);
    height: 3.2rem;
}

.info .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(166, 85, 227);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* Quiz box Styling */

.quiz{
    opacity: 0;
    width: 75rem;
    transform: translate(-50%, -50%) scale(0.9);
    pointer-events: none;
}

.quiz header{
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    display: flex;
    padding: 0 20px;
    height: 80px;
    border-radius:5px 5px 0 0;
    border-bottom: 2px solid rgb(166, 85, 227);
    align-content: space-between;
    flex-direction: row;
}

.quiz header .heading{
    font-size: 4rem;
    font-weight: 400;
    color: rgb(166, 85, 227);
}

.quiz header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 55px;
    color: rgb(166, 85, 227);
    padding: 0 8px;
    float: right;
    
}

.quiz header .timer .time_text{
    font-size: 1.3rem;
}

.quiz header .timer .time{
    font-size: 1.3rem;
    color: rgb(166, 85, 227);
    text-align: center;
    position: relative;
}

.quiz section{
    padding: 20px 30px 25px 30px;
}

.quiz section .question_area{
    font-size: 2.7rem;
    align-items: center;
    font-weight: 400;
    color: rgb(166, 85, 227);
}

.quiz section .option_area{
    padding: 20px 0;
}

.quiz section .option{
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgb(221, 189, 246);
   border: 1px solid rgb(165, 105, 222);
   padding: 10px 15px;
   margin-bottom: 10px;
}

.quiz section .option:hover{
    cursor: pointer;
    box-shadow: 0 0.6rem 1.8rem 0 rgb(166, 85, 227);
    transition: transform 200ms;
    transform: scale(1.05);
}

.quiz footer{
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: rgb(166, 85, 227);
}

.quiz footer span{
    display: flex;
    font-size: 1.5rem;
}

.quiz footer span p{
    padding: 0 5px;
}

.quiz footer .next_btn{
    margin: 0 5px;
    height: 60px;
    width: 130px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(166, 85, 227);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.quiz footer .next_btn:hover{
    box-shadow: 0 0.6rem 1.8rem 0 rgb(166, 85, 227);
}

/* Results Box Styling */

.results{
    opacity: 0;
    width: 450px;
    height: 200px;
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(166, 85, 227);
    pointer-events: none;
}

.results .end_text{
    font-size: 45px;
    align-items: center;
    justify-content: center;
}

.results .score_text span{
    display: flex;
    font-size: 30px;
    margin: 10px 0;
    align-items: center;
}

.results .score_text span p{
    position: relative;
    padding: 10px;
}

.results .buttons_end{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8px;
}

.buttons_end button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: blueviolet;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.buttons_end button:hover{
    box-shadow: 0 0.6rem 1.8rem 0 rgb(166, 85, 227);
}