@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Azeret+Mono:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url('../images/galaxy2.jpg');
    background-size: 68%;
    font-family: 'Amiko', sans-serif;
    box-sizing: border-box;
}

.start_btn,
.info,
.quiz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button{
    display: none;
    font-size: 2.4rem;
    width: 15rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, rgb(147, 73, 232) 0%, rgb(166, 85, 227) 100%);
    border-radius: 5px;
    cursor: pointer;;
}

.start_btn button:hover{
    box-shadow: 0 0.6rem 1.8rem 0 rgb(166, 85, 227);
}


/*Information box styling*/

.info{
    display: none;
    background: #fff;
    pointer-events: none;
    border: 1px solid rgb(166, 85, 227);
    width: 450px;
    transform: translate(-50%, -50%) scale(0.9);
}

.info .rules{
    height: 3.2rem;
    border-bottom: 1px solid rgb(166, 85, 227);
    font-size: 2rem;
    align-items: center;
    display: flex;
    padding-left: 1.5rem;
}

.info .rules_list{
    padding: 1.1rem 2rem;
}

.info .rules_list .info_rules{
    margin: 0.9rem 0.5rem;
    font-size: 1.5rem;
}

.info .buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid rgb(166, 85, 227);
    height: 3.2rem;
}

.info .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(166, 85, 227);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* Quiz box Styling */

.quiz{
    background: #fff;
    width: 70rem;
    border: 4px solid;
    border-color: blueviolet;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz header{
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: relative;
    display: flex;
    padding: 0 20px;
    height: 60px;
    border-radius:5px 5px 0 0;
    border-bottom: 1px solid rgb(166, 85, 227);
}

.quiz header .heading{
    font-size: 4rem;
    font-weight: 400;
    color: rgb(166, 85, 227);
}

.quiz header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 50px;
    background: blueviolet;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 8px;
    float: right;
}

.quiz header .timer .time_text{
    font-size: 1.3rem;
}

.quiz header .timer .time{
    font-size: 0.9rem;
    color: #fff;
    height: 20px;
    width: 45px;
    text-align: center;
    border: 1px solid black;
    position: relative;
    padding-top: 5px;
}